html {
        background: url(bg_black.jpg);
}
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 20px;
    padding: 0;
}
input:focus, textarea:focus {
    background: rgb(219, 232, 225);
}
h2 {
    color: rgb(219, 232, 225);
    background: rgb(24, 98, 60);
}
.table tr:nth-child(even) {
    background: rgba(161, 198, 179, 0.6);
}
th {
    color: rgb(24, 98, 60);
    font-size: 20px;
}
th, td {
    padding: 5px;
    text-align: left;
}
.answer{
    position: relative;
    left: 20px;
}
.sidebar {
    background: rgba(106, 163, 134, 0.6);
    border-radius: 10px;
	font-size: 20px;
	padding: 10px 10px 10px 10px;
    width: 220px;
    text-align: left;
    position: absolute;
    margin-left: 10px;
	top: 1;
    left: 0;
}
.wrapper {
    background-color: rgba(161, 198, 179, 0.6);
    border-radius: 10px;
    padding: 10px;
	margin: 0 300px 0 250px;
    position: absolute;
}
.commenter {
    background-color: rgb(161, 198, 179);
    padding: 10px;
	margin: 0 0 0 500px;
    position: absolute;
	padding: 10px;
    width: 220px;
    text-align: left;
    margin-right: 10px;
	top: 1;
    left: 0;
}
.comments p ,.user {
    border-radius: 10px;
    padding: 3px;
    color: rgb(219, 232, 225);
    background-color: rgb(24, 98, 60);
    display: inline;
    font-size: 12px;
}
.button {
    background-color: rgb(59, 131, 94);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
}
.button:hover {
    text-decoration: none;
    color: rgb(59, 131, 94);
    background-color: white;
    border-radius: 3px;
}
.dropdown {
    background-color: rgb(59, 131, 94);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px; 
}
a:not(.hit-the-floor) {
    color: rgb(0, 56, 28);
    padding: 3px 3px;
    text-decoration: none;
}
a:active:not(.hit-the-floor) {
    color: rgb(0, 106, 28);
    padding: 3px 3px;
    text-decoration: none;
}
a:hover:not(.hit-the-floor) {
    text-decoration: none;
    color: rgb(0, 106, 28);
    background-color: rgba(219, 232, 225, 0.4);
    padding: 3px 3px;
    border-radius: 3px;
}
.hit-the-floor {
color: #fff;
font-size: 2em;
font-weight: bold;
font-family: Helvetica;
text-decoration: none;
text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.wrapper02 {
    position: relative;
    overflow: hidden;
    top: 200px;
    width: 400px;
    height: 400px; 
}

#slide {
    position: absolute;
    left: -500px;
    transition: 1s;
    width: 250px;
    height: 300px;
}
.wrapper02:hover #slide {
    transition: 1s;
    left: 0;
}