<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>AskMate</h1>
        <h2><a href="/">Home<a></h2><br>
        <table border="1" width="700" class="table">
            {% for row in answer %}
                <tr>
                    <td>{{ row['message'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th><form id="form" action="/save_answer_comment" method="post">
                    <p>Comment</p>
                    <textarea name="message" rows="10" cols="60" minlength="10"></textarea><br>
                    <button type="submit">Save comment</button>
                    </form>
                </th>
            </tr>
        </table>
    </body>
</html>
