{% extends "template.html" %}
{% block title %}Ask a question{% endblock %}
{% block content %}
    <div class="wrapper">
        <table width="700" class="table">
            {% for row in answer %}
                <tr>
                    <td>{{ row['message'] }}</td>
                </tr>
            {% endfor %}
        </table>
        <table width="700" class="table">
            <tr>
                <form id="form" action="/answer/{{ id }}/comment" method="post">
                    <center><p>Comment</p>
                    <center><textarea name="message" rows="4" cols="50" minlength="10"></textarea><br>
                    <center><button class="button" type="submit">Save comment</button>
                </form>
            </tr>
        <table>
    </div>
{% endblock %}