<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
    </head>
    <body>
        <h1>AskMate</h1>
        <img src="/static/htph.png">
        <table border="1" width="600" class="table">
            <tr>
                <th>ID</th>
                <th>Timestamp</th>
                <th>Question</th>
                <th>
                    <a href="/new_question">Ask a Question</a>
                </th>
            </tr>
            {% for cell in data %}
                <tr>
                    <td>{{ cell[0] }}</td>
                    <td>{{ cell[1] }}</td>
                    <td>{{ cell[4] }}</td>
                    <td>
                        <a href="/question/{{cell[0]}}">See Answers</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>