<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Ask new question</h1>
        <form id="form" action="/save_question" method="post">
            <p>Title</p>
            <textarea name="title" rows="1" cols="60"></textarea><br>
            <p>Description</p>
            <textarea name="message" rows="10" cols="60" minlength="10"></textarea><br>
            <button type="submit">Save question</button>
        </form>
    </body>
</html>