{% extends "template.html" %}
{% block title %}Ask a question{% endblock %}
{% block content %}
    <div class="wrapper">
        <form id="form" action="/save_question" method="post">
            <center><h2>Ask a new question!</h2>
            <p><label><center>What do you want to know?</label>
                <center><textarea name="title" rows="1" cols="60"></textarea><br>
            </p>
            <p><label><center>Explain it a little</label>
                <center><textarea name="message" rows="10" cols="60" minlength="10"></textarea><br>
            </p>
            <p><label>Pick user</label><br>
                <select class="dropdown" name="pick_user">
                    {% for user in users %}
                    <option>{{ user['user_name'] }}</option>
                    {% endfor %}
                </select>
            </p>
            <center><button class="button" type="submit">Save question</button>
        </form>
    </div>
{% endblock %}