<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>AskMate</h1>
        <aside class="sidebar">
        <a href="/">Home</a><br>
        <a href="/new_question">Ask a Question</a><br>
        <a href="/show_all_questions">Show all questions</a>
        </aside>
        <div class="wrapper">
            <form id="form" action="/save_question" method="post">
                <center><h2>Ask a new question!</h2>
                <center><p>What do you want to know?</p>
                <center><textarea name="title" rows="1" cols="60"></textarea><br>
                <center><p>Explain it a little</p>
                <textarea name="message" rows="10" cols="60" minlength="10"></textarea><br>
                <label>Pick user</label>
                <select name="pick_user">
                    {% for user in users %}
                    <option>{{ user['user_name'] }}</option>
                    {% endfor %}
                </select>
                <center><button type="submit">Save question</button>
            </form>
        </div>
    </body>
</html>