<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>AskMate</h1>
        <aside class="sidebar">
            <a href="/">Home</a><br>
            <a href="/new_question">Ask a Question</a><br>
            <a href="/show_all_questions">Show all questions</a>
        </aside>
        <div class="wrapper">
            <table width="700">
                <tr>
                    <td class="comments">
                        <h2>Comments on this question:</h2>
                        {% for comment in comments %}
                        <p>{{ comment['message'] }}</p> 
                        {% endfor %}
                        <form id="form" action="/question/{{ id }}/new_question_comment" method="post"><br>
                            <textarea name="message" rows="1" cols="28" maxlength="30"></textarea><br>
                        <button type="submit">Add a comment</button>
                        </form>
                    </td>
                </tr>
                {% for row in question %}
                    <tr>
                        <td><h2>Question:</h2>
                        <h3>{{ row['title'] }}</h3></td>
                    </tr>
                    <tr>
                        <td>{{ row['message'] }}</td>
                    </tr>
                    <tr>
                        <td>{{ row['user_id'] }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><h2>Answers:</h2><td>
                    </tr>
                    {% for answer in answers %}
                        <tr>
                            <td>{{ answer['message'] }}</td>
                        </tr>
                    {% endfor %}
            </table>
            <table width="700">
                <tr>
                    <form id="form" action="/question/{{ id }}/new_answer" method="post">
                        <center><p>New Answer</p>
                        <center><textarea name="message" rows="4" cols="50" minlength="10"></textarea><br>
                        <center><button type="submit">Save answer</button>
                    </form>
                </tr>
            <table>
        </div>
    </body>
</html>
