<!DOCTYPE html>
<html>
    <head>
        <title>AskMate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>AskMate</h1>
        <h2><a href="/">Home<a></h2><br>
        <table border="1" width="700" class="table">
            {% for row in question %}
                <tr>
                    <th>{{ row['title'] }}</th>     
                </tr>
                <tr>
                    <td>{{ row['message'] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>Answers:</th>
            </tr>
                {% for answer in answers %}
                    <tr>
                        <td>{{ answer['message'] }}</td>
                    </tr>
                {% endfor %}
        </table>
        <form id="form" action="/question/{{ id }}/new_answer" method="post">
            <p>New Answer</p>
            <textarea name="message" rows="10" cols="60" minlength="10"></textarea><br>
            <button type="submit">Save answer</button>
        </form>
    </body>
</html>
